.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.container{
  width: 900px;
  margin: auto;
}

.btn-primary{
  display: inline-block;
  color: whitesmoke;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px
}

.btn-primary:hover{
  color: #1EDD88;
  background-color: whitesmoke;
  transition: background 0.3s ease;
}
